@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:400,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  appearance: none;
  background-color: #FFBF00;
  border: 0;
  border-radius: 0.52em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Overpass Mono", monospace;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.button:hover, .button:focus {
  background-color: #cc9900;
  color: #fff;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button:disabled:hover {
  background-color: #FFBF00;
}

fieldset {
  background-color: #ccffcc;
  border: 1px solid #ccc;
  margin: 0 0 0.75em;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Overpass Mono", monospace;
  font-size: 1.1em;
}

label {
  font-weight: 600;
  margin-bottom: 0.375em;
}
label.required::after {
  content: "*";
}
label abbr {
  display: none;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 0.52em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Overpass Mono", monospace;
  font-size: 1.1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover {
  border-color: #a3a3a3;
}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus {
  border-color: #FFBF00;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(230, 172, 0, 0.7);
  outline: none;
}
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple=multiple]:disabled {
  background-color: black;
  cursor: not-allowed;
}
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple=multiple]:disabled:hover {
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #999999;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: rgba(255, 191, 0, 0.8);
  font-family: "Overpass Mono", monospace;
  font-size: 1.1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass Mono", monospace;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0.75em 0 0.75em 0;
  font-weight: 700;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5,
h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 0.75em;
}
p.lead {
  font-size: 1.375rem;
  font-weight: 300;
}

a {
  color: #FFBF00;
  text-decoration: none;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  color: #bf8f00;
}

hr {
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 1.5em 0 1.5em 1.5em;
  margin: 1.5em 0;
  color: #333;
  line-height: 1.8;
  border-left: 0.75em solid #ccc;
  background-color: #f2f2f2;
}
blockquote p {
  margin: 0;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "SFMono-Regular",Menlo,Consolas,"Inconsolata",monospace;
  font-size: 1em;
  margin: 0;
  padding: 0 5px;
  background-color: #545454;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "SFMono-Regular",Menlo,Consolas,"Inconsolata",monospace;
  font-size: 1em;
  margin: 0;
  padding: 5px 10px !important;
  overflow: auto;
  max-height: 60em;
  white-space: pre;
  border: 1px solid #ccc;
}
pre code {
  line-height: 1.75em;
  padding: 0 !important;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-left: 1.2em;
  margin-bottom: 1rem;
  list-style-type: square;
  list-style-position: outside;
  list-style-image: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.clearfix, .post, .site-footer {
  *zoom: 1;
}
.clearfix:before, .post:before, .site-footer:before {
  content: " ";
  display: table;
}
.clearfix:after, .post:after, .site-footer:after {
  content: " ";
  display: table;
  clear: both;
}

body {
  background-color: #000;
}

hr {
  border-top: none;
  border-bottom: 2px solid #ffc824;
  width: 100%;
  margin: 0.75em 0;
}

.container {
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-weight: normal;
}

.pull-left {
  float: left;
}

.pull-right, .post-item .date-label {
  float: right;
}

.link, .intro a, .navbar a, .post-link,
.post a,
.page a, .pagination .prev, .pagination .next, .site-footer a {
  color: #FFBF00;
  padding-bottom: .05em;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms linear;
  -moz-transition: border 300ms linear;
  transition: border 300ms linear;
}
.link:hover, .intro a:hover, .navbar a:hover, .post-link:hover,
.post a:hover,
.page a:hover, .pagination .prev:hover, .pagination .next:hover, .site-footer a:hover, .link:focus, .intro a:focus, .navbar a:focus, .post-link:focus,
.post a:focus,
.page a:focus, .pagination .prev:focus, .pagination .next:focus, .site-footer a:focus, .link:active, .intro a:active, .navbar a:active, .post-link:active,
.post a:active,
.page a:active, .pagination .prev:active, .pagination .next:active, .site-footer a:active {
  border-bottom: 2px solid #FFBF00;
}

.site-header {
  border-bottom: 1px solid #ffc51a;
  margin-bottom: 0.75em;
  min-height: 80px;
}

.intro .author-name {
  display: inline-block;
  padding: 0 .2em;
  background: #ffd24d;
}
.intro .container {
  padding-bottom: 0;
}

.logo {
  float: left;
  margin: 0 0 1em 0;
  cursor: pointer;
  letter-spacing: 0.8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}
.logo span {
  font-weight: 700;
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;
}
.navbar li {
  display: inline-block;
  padding: 0 .6em;
}

.category-title {
  margin: 1em 0 0.5em 0;
}
.category-title:first-child {
  margin-top: 0;
}

.post-item {
  margin-bottom: 0.2em;
  display: block;
}
.post-item a {
  color: #FFBF00;
}
.post-item a:hover, .post-item a:focus, .post-item a:active {
  color: #00FF00;
}
.post-item .article-title {
  display: inline-block;
  width: 85%;
}
.post-item .date-label {
  padding: 0 0.2em;
  margin-left: 1em;
  margin-top: 2px;
}

.post-meta {
  color: #999;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin-bottom: 1px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 1em;
  color: #FFBF00;
}

.pagination li, .pagination a, .pagination span {
  display: inline-block;
}
.pagination a, .pagination span {
  font-size: 0.75rem;
  padding: .5em;
}

.share {
  border-top: 0.2em dashed #ffd042;
  padding-top: 1.5em;
  margin-top: 3em;
}
.share p {
  margin: 0 5em;
  font-size: 0.875rem;
  color: #999;
}

.disqus {
  background-color: #ffd352;
  padding: 1.5em 0;
}
.disqus hr {
  margin: 1.5em 0;
}

.site-footer {
  padding: 1.5em 0;
}
.site-footer small {
  display: block;
  font-size: 0.75rem;
  color: gray;
}
.site-footer .block {
  display: block;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.divider {
  border-top: 0.2em solid #ffd042;
  margin-bottom: 3em;
  margin-top: 3em;
}

@media (max-width: 600px) {
  .date-label {
    float: left !important;
    border: 0 !important;
    margin-left: -2px !important;
    margin-top: 2px;
    margin-right: 1em;
  }

  .post-item {
    border: 1px solid #ffcc33;
    padding: 0 0.5em;
    background: #333;
  }

  .article-title {
    border-bottom: none !important;
  }

  .post-link:hover, .post-link:focus, .post-link:active {
    border-bottom: 2px solid transparent;
    color: #00FF00;
  }
}
/**
* Syntax highlighting styles
*/
.highlight {
  margin: 1.5em 0;
  padding: 0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.highlighter-rouge .highlight, .highlight, .highlight .hll, .highlight pre, .highlight code {
  background-color: #f2f2f2 !important;
}
.highlight pre {
  margin: 0;
  padding: 1.5em;
  white-space: pre;
  line-height: 23px;
  overflow-x: auto;
  margin-bottom: 0;
  word-break: inherit;
  word-wrap: inherit;
}
.highlight pre, .highlight pre code {
  color: rgba(255, 191, 0, 0.8);
}
.highlight pre code {
  white-space: pre;
  padding: 0 !important;
}
.highlight pre code * {
  white-space: nowrap;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}
